In [48]:
import pandas as pd
import numpy as np
from collections import Counter

In [116]:
df_count = pd.read_csv("tblcounts_melt_bact.csv")
all_samples = list(set(df_count.SampleID))
df_count.head()

  SampleID        ASV  Count
0    1000A   ASV_1216     14
1    1000A  ASV_12580    150
2    1000A  ASV_12691    260
3    1000A    ASV_135    434
4    1000A    ASV_147     79

In [126]:
df_tax=pd.read_csv("tblASVtaxonomy_silva138_bact.csv")[['ASV','Sequence']]
df_tr=pd.read_csv("../bact_refseq_TR.csv")
df_tr.columns=['ASV_TR','Sequence']
df_tax = pd.merge(df_tax, df_tr, left_on='Sequence', right_on='Sequence', how='inner')

df = pd.read_csv("../tblcount_bact_TR.csv", index_col=0)
df = df.T.drop_duplicates().T
df.columns = [x.split('..')[0] for x in df.columns]
df = df.rename({y:x for x,y in zip(df_tax.ASV, df_tax.ASV_TR)})
duplicates = {x:y for x,y in dict(Counter(df.columns)).items() if y>1}

df = pd.read_csv("../tblcount_bact_TR.csv", index_col=0)
df = df.T.drop_duplicates().T
cols_to_keep = []
for col in df.columns:
    sid = col.split('..')[0]
    if sid in duplicates:
        df_ = df[[col2 for col2 in df.columns if col2.startswith(sid)]]
        cols_to_keep.append(df_.T.sum(axis=1).sort_values(ascending=False).index[0])
    else:
        cols_to_keep.append(col)
df = df[list(set(cols_to_keep))]
df.columns = [x.split('..')[0] for x in df.columns]
df = df.rename({y:x for x,y in zip(df_tax.ASV, df_tax.ASV_TR)})
assert len(df.columns) == len(set(df.columns))
df = df.T.drop_duplicates().T
df_sample = pd.read_csv("tblASVsamples.csv")
samples_not_in_record = list(set(df.columns)-set(df_sample.SampleID))
samples2exclude = [x for x in samples_not_in_record if x not in ['1547E','1292S','FMT.0133P','1266BB','FMT.0066GG','1473Y','1192Y.cmic']]
df = df[[col for col in df.columns if col not in samples2exclude]]
df = df.rename({'1192Y.cmic':'1192Y'}, axis=1)
assert len(df.columns) == len(set(df.columns))
df = df[[col for col in df.columns if col not in all_samples]]
df = df.stack().reset_index()
df.columns=['ASV','SampleID','Count']
df = df[['SampleID','ASV','Count']]
df_new = pd.concat([df_count, df], axis=0)
df_new = df_new[df_new.Count !=0]

df_new

           SampleID           ASV  Count
0             1000A      ASV_1216     14
1             1000A     ASV_12580    150
2             1000A     ASV_12691    260
3             1000A       ASV_135    434
4             1000A       ASV_147     79
...             ...           ...    ...
2651669    04.OW.03  ASV_17238_TR     10
2651674    04.OW.01  ASV_17238_TR     10
2651777    04.OS.03  ASV_17238_TR      7
2652782   FMT.0133P  ASV_17452_TR      2
2653142  FMT.0211YY  ASV_17547_TR     55

[941704 rows x 3 columns]

In [127]:
df_new.to_csv("tblcounts_melt_bact.csv", index=False)